- name: Desabilitar AppArmor
  service:
    name: apparmor
    state: stopped
    enabled: no

- name: Desabilitar Firewalld
  service:
    name: firewalld
    state: stopped
    enabled: no
  ignore_errors: yes
